@model Search.RelatedContent.Models.KeywordResults

@{
    ViewBag.Title = "AspenCore Related Media Search";
}

<div class="container">
    <a href="@Url.Action("Keywords","Search")" class="btn btn-default btn-sm" role="button">Keyword Search</a>
    <a href="@Url.Action("PartNumbersMediaSearch","Search")" class="btn btn-default btn-sm" role="button">Part Numbers Media Search</a>
</div>

@using (Html.BeginForm("Keywords", "Search", FormMethod.Post, new { @class = "search_bar huge" }))
{
    <div class="search_dropdown" style="width: 16px;">
        @*<span>All</span>
            <ul>
                <li class="selected">All</li>
                <li>Keywords</li>
                <li>Part Numbers</li>
            </ul>*@
    </div>
    @Html.TextBoxFor(x => x.Query.QueryText, new { placeholder = "Search" })
    @*<input type="text" placeholder="Search for anything" />*@
    <button type="submit" value="Search">Search </button>
}
