@model Search.RelatedContent.Models.KeywordResults

@{
    ViewBag.Title = "Search Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <a href="@Url.Action("Keywords","Search")" class="btn btn-default btn-sm" role="button">Keyword Search</a>
    <a href="@Url.Action("PartNumbersMediaSearch","Search")" class="btn btn-default btn-sm" role="button">Part Numbers Media Search</a>
</div>

@using (Html.BeginForm("Keywords", "Search", FormMethod.Post, new { @class = "search_bar huge" }))
{
    <div class="search_dropdown" style="width: 16px;">
    </div>
    @Html.TextBoxFor(x => x.Query.QueryText, new { placeholder = "Search" })
    <button type="submit" value="Search">Search </button>
}
