<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="configurationloc" value="C:\Temp\sites.csv"/>
    <add key="authorconfig" value="authorimages.xml"/>
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/></startup></configuration>
