<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
  </startup>
  <connectionStrings>
    <add connectionString="Server=winappsrv01;Database=ac-grc-es;Uid=root;Pwd=P@ssword01;" providerName="MySql.Data.MySqlClient" name="MySqlConnection"/>
  </connectionStrings>
</configuration>
