<log4net>
  <root>
    <appender-ref ref="FileAppender" />
    <!--<appender-ref ref="ElasticSearchAppender" />
    <appender-ref ref="ApiRequestFileAppender" />-->
  </root>
  <appender name="FileAppender" type="log4net.Appender.RollingFileAppender">
    <file type="log4net.Util.PatternString" value="Logs/api-.log" />
    <appendToFile value="true" />
    <rollingStyle value="Composite" />
    <datePattern value="yyyy-MM-dd" />
    <maximumFileSize value="10MB" />
    <preserveLogFileNameExtension value="true"/>
    <staticLogFileName value="false" />
    <layout type="log4net.Layout.Json.JsonLogLayout"></layout>
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%message%newline" />
      <!--%date{HH:mm:ss.fff} %level [%thread]    this was in conversion pattern that adds time when the request was logged -->
    </layout>
    <filter type="log4net.Filter.LevelRangeFilter">
      <levelMin value="DEBUG" />
      <levelMax value="ERROR" />
    </filter>
  </appender>
  <!--<appender name="ApiRequestFileAppender" type="log4net.Appender.RollingFileAppender">
    <file type="log4net.Util.PatternString" value="Logs/api/api-.log" />
    <appendToFile value="true" />
    <rollingStyle value="Composite" />
    <datePattern value="yyyy-MM-dd" />
    <maximumFileSize value="10MB" />
    <preserveLogFileNameExtension value="true"/>
    <staticLogFileName value="false" />
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%message%newline" />
      --><!--%date{HH:mm:ss.fff}, this was in conversion pattern that adds time when the request was logged --><!--
    </layout>
    <filter type="log4net.Filter.LevelRangeFilter">
      <levelMin value="DEBUG" />
      <levelMax value="ERROR" />
    </filter>
  </appender>-->
  <!--<appender name="ElasticSearchAppender" type="log4net.ElasticSearch.ElasticSearchAppender, log4net.ElasticSearch">
     for .NET 40 <appender name="ElasticSearchAppender" type="log4net.ElasticSearch.ElasticSearchAppender, log4net.ElasticSearch.Net40">
    <connectionString value="Scheme=http;Server=elasticnode01;Index=apilogentry;Port=9200;rolling=true"/>
    <lossy value="false" />
    <evaluator type="log4net.Core.LevelEvaluator">
      <threshold value="ERROR" />
    </evaluator>
    <bufferSize value="100" />
  </appender>
  <root>
    <level value="ALL"/>
    <appender-ref ref="ElasticSearchAppender" />
  </root>-->
  <!--<appender name="ElasticSearchAppender" type="log4net.ElasticSearch.ElasticSearchAppender, log4stash">
    <Server>elasticnode01</Server>
    <Port>9200</Port>
    <IndexName>apilogentry</IndexName>
    <ElasticFilters>
      <Filter type="log4net.ElasticSearch.Filters.RenameKeyFilter, log4stash">
        <Key>processId</Key>
        <RenameTo>ServiceName</RenameTo>
      </Filter>
      <Filter type="log4net.ElasticSearch.Filters.RenameKeyFilter, log4stash">
        <Key>Message</Key>
        <RenameTo>message</RenameTo>
      </Filter>
      <Grok>
        <SourceKey>message</SourceKey>
        <Pattern>%{NUMBER:ResponseCode} %{WORD:Method} %{URIPATHPARAM:Url} %{NUMBER:ElapsedMls} %{GREEDYDATA:StatusMessage}</Pattern>
      </Grok>
    </ElasticFilters>
    <filter type="log4net.Filter.LevelRangeFilter">
      <levelMin value="INFO" />
      <levelMax value="ERROR" />
    </filter>
  </appender>-->
</log4net>