<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using web.config transformation visit https://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <!--
    In the example below, the "SetAttributes" transform will change the value of 
    "connectionString" to use "ReleaseSQLServer" only when the "Match" locator 
    finds an attribute "name" that has a value of "MyDB".
    
    <connectionStrings>
      <add name="MyDB" 
        connectionString="Data Source=ReleaseSQLServer;Initial Catalog=MyReleaseDB;Integrated Security=True" 
        xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    </connectionStrings>
  -->
  <system.web>
    <!--
      In the example below, the "Replace" transform will replace the entire 
      <customErrors> section of your web.config file.
      Note that because there is only one customErrors section under the 
      <system.web> node, there is no need to use the "xdt:Locator" attribute.
      
      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
    -->
  </system.web>
  <system.webServer>
    <rewrite xdt:Transform="Insert">
      <outboundRules>
        <rule name="CrossDomainAccess">
          <match serverVariable="RESPONSE_Access_Control_Allow_Origin" pattern=".*" />
          <conditions>
            <add input="{HTTP_ORIGIN}" pattern="(http(s)?:\/\/((.+\.)?(electronicproducts|eetimes|planetanalog|ebnonline|edn|embedded)\.(com)))" />
            <!--<add input="{HTTP_ORIGIN}" pattern="(http(s)?://((.+\.)?electronicproducts\.com|(.+\.)?eetimes\.com|(.+\.)?planetanalog\.com|(.+\.)?edn\.com|(.+\.)?embedded\.com|(.+\.)?ebnonline\.com))" />-->
            <!--(http(s)?:\/\/((.+\.)?(domain1|domain2)\.(com|org|net)))-->
          </conditions>
          <action type="Rewrite" value="{C:0}" />
        </rule>
        <rule name="RemoveServer">
          <match serverVariable="RESPONSE_SERVER" pattern=".*" />
          <action type="Rewrite" />
        </rule>
      </outboundRules>
    </rewrite>
  </system.webServer>
</configuration>